body{
    background-image: url(../Imagenes/7c4a5a5ee7b7e5955007391b2ce55665.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}
header img{
    width: 100%;
}
.text-center{
    text-align: center;
}
p{
    @include textos($textSm1,$keyColor,$fontRegular,$textSm1)
}

h1,h2,h3{
    margin: 12px 0;
    }

h1{
    color: $mainColor;
    font-size: $textXl;
    text-shadow: 2px 2px 2px #000;
    font-weight: $fontBold;
}

.h1-i{
    @include textos($textSm1,$keyColor,$fontRegular,$textSm1);
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: .6;
    font-size: $textSm-1;
}

.p1-i{
    background-color: rgba(128, 128, 128, 0.3);
    font-weight: $fontP;
    color: $mainColor;
    font-size: $textXl;
    text-shadow: 2px 2px 2px #000;
    span{
        color: $secondaryColor;
    }
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

  
.h1-n{
    background-color: rgba(128, 128, 128, 0.3);
    margin-bottom: 15px
}

h2{
    color: $secondaryColor;
    font-size: $textLg;
    text-shadow: 1px 1px 1px #000;
    margin-top: 25px;
    margin-bottom: 15px;
}

main section h1{
    text-align: center;
}

main section div h1{
    text-align: left;
}

main section h2 a{
    color: $secondaryColor;
    font-size: $textLg;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
        color: $secondaryColor;
        filter: brightness(0.8);
    }
}

main section table{
    color: $keyColor;
    text-align: center;
    margin: auto;
    padding: 30px;
    border-color: $secondaryColor;
    tr{
        font-size: $textMd1;
    }
}
main section label{
    color: $keyColor;
    font-size: $textMd;
}
main section p{
    text-align: center;
}
main section img{
    @include imagen(30%,30px,40px)
}

.p-a{
    @include textos($textSm,$keyColor,$fontRegular,$textMd1);
    display: inline-block;
    max-width: 70%;
    margin: auto;
    font-weight: bold;
    color: $keyColor;
    background-color: rgba(35, 28, 170, 0.768);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.p-e{
    @include textos($textSm1,$keyColor,$fontRegular,$textMd1);
    max-width: 70%;
    margin: auto;
    margin-bottom: 20px;
    line-height: 1.5;
}


.figuras-index{
    margin: 10px;
    margin-top: 20px;
}
    .figcaption-1{
        background-color: rgba(128, 128, 128, 0.2);
        font-size: $textSm1;
        margin-bottom: 10px;
        color: $keyColor;
    }
    .btn-index{
        background-color: $mainColor;
        color: $keyColor;
        font-size: $textSm;
    }



.texto-fotos-nosotros{
    color: $keyColor;
    font-size: $textSm1;
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
.fotos-nosotros{
    
    margin-top: 20px;
    height: 30vh;
}
.nosotros{
    display: flex;
    justify-content: space-around;
    figure{
        figcaption{
            color: white;
            font-size: $textMd1;
            text-align: center;
            padding-right: 30px;
        }
    }
}
  
.btn-bg{
    background-color: $keyColor;
    color: black;
    font-size: $textSm1;
}
.fondo{
    background-image: url(../Imagenes/elegí\ tu\ plan\ mensual.png);
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
    padding-top: 60px;
}
.table{
    color: $keyColor;
    width: 70%;
    margin-right: 50px;
    text-shadow: 2px 2px 2px #000;
    margin-bottom: 70px;
}