.h1-contacto{
    text-align: left;
    padding-left: 30px;
    background-color: rgba(128, 128, 128, 0.3);
}
.contacto{
    display: flex;
    justify-content: space-around;
}
.contacto-img{
    width: 35%;

}
.contacto-form{
    width: 40%;

}
  
.mapa{
    text-align: center;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
}
.mapa-1{
    display: flex;
    justify-content: center;
    align-items: start;
    p{
        margin-left: 20px;
        text-align: center;
        width: 30%;
    }
}
.iframe-mapa{
    width: 50vh;
    height: 40vh;
}

.completar{
    font-size: $textSm1;
    margin-bottom: 10px;
}

