nav img{
    width: 180px;
}
.botonera{
    background-color: rgba(16, 28, 38);
    img{
        width: 200px;
    }
    li{
        a{
            color: white; 
            font-size: 2rem;  
        }
    }
}
    
.container-fluid button span{
    background-color: white;
}
.navbar-toggler {
    background-color: white;
}
.navbar-toggler-icon {
    color: white;
}

   