nav img{
    width: 180px;
}
.botonera{
    background-color: rgba(16, 28, 38, 0.8);
    img{
        width: 200px;
    }
    li{
        a{
            color: white; 
            font-size: 2rem;  
        }
    }
}
    
.container-fluid button span{
    background-color: white;
}
.navbar-toggler {
    background-color: white;
}
.navbar-toggler-icon {
    color: white;
}

.custom-toggler {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: $secondaryColor;
    font-size: 2rem;
    
    &:focus {
    outline: none;
    }
    
    &-icon {
    display: none;
    }
    
    &:before {
    content: '\2630';
    font-size: 2rem;
    }
    }


   