//Colores
$mainColor: #241caa;
$secondaryColor: #39c3ef;
$keyColor: white;

//Fuentes
$mainFont:'Montserrat', sans-serif;


//sizing
$textSm-1:1.4rem;
$textSm:1.6rem;
$textSm1:1.8rem;
$textMd:2rem;
$textMd1:2.5rem;
$textLg:3rem;
$textXl:5.2rem;

//font weight
$fontP:500;
$fontBold:400;
$fontRegular:300;

