//Colores
$mainColor: #241caa;
$secondaryColor: #39c3ef;
$keyColor: white;

//Fuentes
$mainFont:'Roboto', sans-serif;

//sizing
$textSm:1.6rem;
$textSm1:1.8rem;
$textMd:2rem;
$textMd1:2.5rem;
$textLg:3rem;
$textXl:4.8rem;

//font weight
$fontLight:100;
$fontBold:400;
$fontRegular:300;

