@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import "_vars";
@import "_mixins";
@import "_commons";
@import "_productos";
@import "_contacto";
@import "_nav";
@import "_media";
@import "_animation";
@import "_tarifass";


*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
html{font-size: 62.5%;}

footer{
    display: flex;
    justify-content: center;
    background-color: rgba(16, 28, 38, 0.8);
    padding-top: 6px;
    padding-bottom: 5px;
    a{
        text-decoration: none;
        text-overflow: clip;
    }
    svg{
        width: 30px;
        fill: #F2F2F2;
        margin-right: 20px;
        margin-left: 20px;
    }
}


  
  
